In [1]:
import pandas as pd
import numpy as np

In [2]:
### There are three fundamental pandas data structures: Series, Dataframe and Index

## Pandas Series Objects

In [3]:
# Pandas_Serie - one dimensional array with flexible index

In [4]:
data = pd.Series([0.1, 2, 3, "in", 2])
data

0    0.1
1      2
2      3
3     in
4      2
dtype: object

In [5]:
data.values

array([0.1, 2, 3, 'in', 2], dtype=object)

In [36]:
data.index

Int64Index([1, 2, 3], dtype='int64')

### Series as generated numpy arrays

In [7]:
#unlike arrays , index can be defined explictly in series

data = pd.Series([0.1, 0.2, 0.3, 0.4, 0.5], index = ['a', 'b', 'c', 'd', 'e'])
data

a    0.1
b    0.2
c    0.3
d    0.4
e    0.5
dtype: float64

In [8]:
data['e']

0.5

### Series as specialized Dictionary

In [9]:
python_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}

data = pd.Series(python_dict)

#By default index is drawn from the sorted keys
data

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
data['California']

38332521

In [11]:
#unlike dictionary, series also supports array-like slicing
data['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series Objects

In [12]:
# format = pd.Series(data, index = index)

#data can be normal array
data = pd.Series([2,3,4])
data

0    2
1    3
2    4
dtype: int64

In [37]:
#data as a scalar
data = pd.Series(5, index = [100, 100, 100])
data

100    5
100    5
100    5
dtype: int64

In [7]:
#data as dictionary 
data = pd.Series({2:'a', 1:'b', 3:'c'})
data

2    a
1    b
3    c
dtype: object

In [15]:
#with specified index
data = pd.Series({2:'a',1:'b',3:'c'}, index = [2,3])
data

2    a
3    c
dtype: object

## pandas DataFrame Objects

In [16]:
# Dataframe can be considered generalization of numpy arrays or Specialization of python dictionary

population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

In [17]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [18]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [19]:
states.columns

Index(['population', 'area'], dtype='object')

### DataFrame as Specialized Dictionary

In [20]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

### Constructing DataFrame Objects

In [21]:
# From a single Serie object

data = pd.DataFrame(population, columns = ['Population'])
data

            Population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [39]:
# From a list of dicts

data = pd.DataFrame({'a':i, 'b':2 * i}for i in range(3))
data

   a  b
0  0  0
1  1  2
2  2  4

In [10]:
#fill missing columns with NaN

data = pd.DataFrame([{'a':1,'b':2}, {'b':3, 'c':1}])
data

     a  b    c
0  1.0  2  NaN
1  NaN  3  1.0

In [24]:
# From a dictionary of Series objects

data = pd.DataFrame({'population':population, 'area':area})
data

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [25]:
# From two-dimensional Numpy array
data = pd.DataFrame(np.random.rand(3,2),
                    columns=['foo', 'bar'],
                    index=['a','b','c'])
data

        foo       bar
a  0.691160  0.980682
b  0.132448  0.042432
c  0.197229  0.114978

In [43]:
# From numpy structured arrays

A = np.zeros(3, dtype = [('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [27]:
data = pd.DataFrame(A, index=[1,2,3])
data

   A    B
1  0  0.0
2  0  0.0
3  0  0.0

## Pandas Index Object

In [28]:
# pandas's index array
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [29]:
# pandas index support python standard slicing
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [30]:
# also familiar with numpy attributes
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [31]:
### Unlike numpy arrays, pandas's indices are immutable
ind[1] = 100

TypeError: Index does not support mutable operations

### Index as ordered set

In [44]:
#pandas indices are designed to join multiple datasets with some mathematical operations

indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [45]:
#Intersection
print(indA & indB)
print(indA.intersection(indB))

Int64Index([3, 5, 7], dtype='int64')
Int64Index([3, 5, 7], dtype='int64')

In [145]:
#Union
print(indA | indB)
print(indA.union(indB))

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [147]:
#Symmetric Difference
print(indA ^ indB)
print(indA.symmetric_difference(indB))

Int64Index([1, 2, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

#### Intuition of axis usage

- axis = 0 means column-wise that act all the rows in each columns
- axis = 1 means row-wise that act all the columns in each rows

In [2]:
# Example
dff = pd.DataFrame(np.random.randn(1, 2), columns=list('AB'))
dff

          A         B
0  0.539032 -0.873424

In [3]:
dff.mean(axis = 1)

0   -0.167196
dtype: float64

In [4]:
dff.mean(axis = 0)

A    0.539032
B   -0.873424
dtype: float64