In [2]:
import pandas as pd

### Data Selection in Series

In [3]:
data = pd.Series([0.25, 1.2, 3.4, 0.2], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    1.20
c    3.40
d    0.20
dtype: float64

In [5]:
'a' in data

True

In [6]:
data['b']

1.2

In [7]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
list(data.items())

[('a', 0.25), ('b', 1.2), ('c', 3.4), ('d', 0.2)]

In [9]:
#Series can be modified with a dictionary-like syntax
data['e'] = 0.12
data

a    0.25
b    1.20
c    3.40
d    0.20
e    0.12
dtype: float64

### Series as one-dimensional array

In [11]:
#Series provides array-style item selection of numpy basics mechanism: slices, masking and fancy indexing
data

a    0.25
b    1.20
c    3.40
d    0.20
e    0.12
dtype: float64

In [12]:
#Slicing by explicit index
data['a':'c']

a    0.25
b    1.20
c    3.40
dtype: float64

In [13]:
#Slicing by implicit integer index
data[0:2]

a    0.25
b    1.20
dtype: float64

In [14]:
#Masking
data[(data >= 0.2) & (data < 1)]

a    0.25
d    0.20
dtype: float64

In [15]:
#Fancy indexing
data[['a', 'e']]

a    0.25
e    0.12
dtype: float64

### Indexers: loc, iloc and ix

In [16]:
data = pd.Series(['a', 'b', 'c'], index=[1,3,5])
data

1    a
3    b
5    c
dtype: object

In [17]:
#Confusion of indexing in Pandas

In [18]:
#explicit index when indexing
data[1]

'a'

In [19]:
#implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

#### loc - allows indexing and slicing that always reference explicit index

In [20]:
#loc attribute allows indexing and slicing that always reference explicit index
data.loc[1]

'a'

In [21]:
data.loc[1:5]

1    a
3    b
5    c
dtype: object

#### iloc - allows indexing and slicing that always reference implicit python-style index

In [22]:
data.iloc[1]

'b'

In [23]:
data.iloc[1:3] #0 to 2

3    b
5    c
dtype: object

#### - ix is the hybrid of these two

### Data Selection in Pandas

#### DataFrame as a Dictionary

In [64]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,
'Illinois': 149995})

pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,
'Illinois': 12882135})

data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [27]:
data['area'] is data.area

True

In [29]:
data['pop'] is data.pop #Conflict with DataFrame.Pop

False

In [65]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

#### DataFrame as Two-Dimensional Array

In [33]:
data.values  #we can do many fimiliar array-like observation on DataFrame itself

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

In [35]:
data.T #Transpose

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

In [38]:
#passing a single index to an array accesses a row
#passing a single index to a DataFrame accesses a column

data.values[0] #return first row

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [39]:
data['area'] #return column

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [41]:
#using loc, iloc and ix indexers
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [42]:
data.iloc[:3,:2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [44]:
data.loc[:"New York", :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [46]:
#The ix indexer allows a hybrid of these two approaches
data.ix[:3, :'pop']

/home/rhythm/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [53]:
#masking and fancy indexing can be combined to loc indexer
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

In [60]:
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [68]:
data.iloc[0:2] = 90
data

              area       pop     density
California      90        90   90.000000
Texas           90        90   90.000000
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

#### Additional Indexing Convention

In [69]:
#while indexing refers to columns , slicing refers to rows
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [70]:
data[1:3]

            area       pop     density
Texas         90        90   90.000000
New York  141297  19651127  139.076746

In [72]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121